/* Tablets */
@media (min-width: 768px) {
    .header__wrapper {
    }

    .header__title {
     
        box-sizing: border-box;
    }

    .work-one__figure-img--wrapper {
        min-height: 475px;
    }

    .work-three__figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}